body{
    
    background-image: url(simple-tumblr-black-and-white-wallpapers-high-quality.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
    background-position-y: 100%;

}
H1
{
    text-align: center;
    font-size: 150px;
    color: black;
}
form
{
  text-align: center;
 font-size: 30px;
 font-weight: bold;
     
}
form input
{
  width: 7%;
  height:18px;
}
