body{
    
    background-image: url(keyboard_lock_chain_80012_2048x1152.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
    background-position-y: 100%;
   background-position-x:100%
}